:root {
  --color--primary--dark: #f6b132;
  --color--primary--dark--lighter: #cf7500;
  --color--primary--dark--2: #37b7b5;
  --color--primary--dark--1: #1c829e;
  --color--primary--light: #c4ddff;
  --color--primary--light--lighter: #a0e4e0;
  --color--secondary--light: #3b9103;
  --color--secondary--light--1: #e2f3d5;
  --color--secondary--light--2: #ffbe00;
  --color--secondary--light--3: #ffe41b;
  --color--secondary--light--4: #f0a500;
  --color--secondary--dark--2: #fdc1c1;
  --color--secondary--dark: #8f0e0e;
  --color--layout: #f7f6de;
  --color--layout--dark: #79dae8;
  --color--primary--dark--solid: #fa7e0a; }

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 2rem 2rem;
  overflow-x: hidden !important;
  position: absolute;
  background-color: #f3f3f3;
  max-height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 2rem 2rem; } }
  @media only screen and (max-width: 37.5em) {
    body {
      padding: 0rem 0rem; } }
  body::before {
    content: "";
    position: absolute;
    right: 65%;
    height: 105%;
    width: 100vw;
    background-color: var(--color--primary--dark--1);
    border-radius: 40%;
    transform-origin: bottom;
    transform: translateY(-55%);
    z-index: 0; }

main {
  color: #444; }

.shapes {
  position: absolute;
  height: 5.3rem;
  right: 1%;
  width: 11rem;
  border-radius: 50% 50% 0 0/100% 100% 0 0;
  transform: rotate(90deg);
  z-index: -1; }
  .shapes__1 {
    top: 10%;
    background-color: var(--color--secondary--light--2); }
  .shapes__2 {
    bottom: 10%;
    background-color: var(--color--secondary--light); }
  .shapes__3 {
    left: 1%;
    right: 0%;
    bottom: 10%;
    background-color: var(--color--secondary--dark);
    transform: rotate(270deg); }
  @media only screen and (max-width: 56.25em) {
    .shapes {
      display: none; } }

.header {
  display: flex;
  position: relative;
  flex-direction: column;
  align-content: left;
  z-index: 200;
  margin: 5rem 0 0 2rem; }
  @media only screen and (max-width: 56.25em) {
    .header {
      display: flex;
      flex-direction: column;
      width: 90%; } }
  .header__text {
    font-size: 4rem;
    color: black;
    line-height: 4.5rem;
    position: relative; }
    @media only screen and (max-width: 56.25em) {
      .header__text {
        width: 70%; } }
  .header p {
    color: black;
    font-size: 1.5rem;
    margin: 2rem 0; }
  .header span {
    display: block; }
    @media only screen and (max-width: 56.25em) {
      .header span {
        display: inline-block; } }

.email {
  padding: 1rem 1rem;
  width: 60%;
  border-radius: 4rem;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.555); }
  @media only screen and (max-width: 56.25em) {
    .email {
      width: 60%;
      padding: 1.5rem 1rem; } }
  .email:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.582); }
  .email:target {
    background-color: black; }

.footer--email {
  width: 90%; }

.check {
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .check p {
      font-size: 1.4rem; } }

.checkbox {
  margin-right: 1rem;
  accent-color: var(--color--primary--dark--solid);
  color: black; }

.business {
  position: relative;
  z-index: 300;
  width: 100%; }
  @media only screen and (max-width: 56.25em) {
    .business__gallery {
      width: 100%;
      display: flex;
      justify-content: center; } }

.pics {
  transform: skew(2deg, 4deg);
  border-radius: 1rem;
  border: 0.2rem solid var(--color--primary--dark--1);
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  box-shadow: 1rem -1.5rem 0.1rem #1e90af57;
  background-size: cover;
  width: 21rem;
  height: 16.8rem;
  top: 15%;
  left: 10%; }
  @media only screen and (max-width: 37.5em) {
    .pics {
      transform: skew(2deg, 4deg) scale(0.6);
      top: 4%;
      left: 0; } }
  .pics__text {
    transform: skew(2deg, 4deg);
    background-color: white;
    border-radius: 0.3rem;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-left: 1rem;
    font-size: 1rem;
    font-weight: bold; }
    @media only screen and (max-width: 37.5em) {
      .pics__text {
        transform: skew(2deg, 4deg) scaleX(0.7) scaleY(0.9); } }
    .pics__text h6 {
      font-size: 1rem;
      font-weight: bold; }
    .pics__text p {
      line-height: 1rem;
      font-size: 1rem;
      padding-bottom: 0.2rem; }
    .pics__text__1 {
      width: 6rem;
      height: 1.6rem;
      top: 5%;
      left: 35%;
      color: var(--color--secondary--light);
      background-color: var(--color--secondary--light--1); }
    .pics__text__2 {
      width: 10rem;
      height: 4rem;
      top: 13%;
      left: 52%;
      z-index: 2; }
      @media only screen and (max-width: 37.5em) {
        .pics__text__2 {
          left: 47%; } }
    .pics__text__3 {
      width: 10rem;
      height: 4rem;
      top: 28%;
      left: 52%; }
      @media only screen and (max-width: 37.5em) {
        .pics__text__3 {
          left: 47%; } }
    .pics__text__4 {
      width: 6rem;
      height: 1.6rem;
      top: 35%;
      left: 72%;
      color: var(--color--secondary--dark);
      background-color: var(--color--secondary--dark--2); }
      @media only screen and (max-width: 37.5em) {
        .pics__text__4 {
          left: 74%; } }
    .pics__text__5 {
      width: 24rem;
      height: 10rem;
      top: 48%;
      left: 52%; }
      @media only screen and (max-width: 37.5em) {
        .pics__text__5 {
          left: 42%;
          top: 45%; } }
      .pics__text__5 .bg--btn {
        background-color: var(--color--primary--dark--1);
        color: white;
        border-radius: 2rem;
        border: none; }
      .pics__text__5 .nobg--btn {
        background-color: white;
        color: var(--color--primary--dark--2);
        border: 0.2rem solid var(--color--primary--dark--1);
        border-radius: 3rem; }
    .pics__text__6 {
      width: 18rem;
      height: 6rem;
      top: 62%;
      left: 18%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      @media only screen and (max-width: 37.5em) {
        .pics__text__6 {
          left: 5%;
          top: 54%; } }
      .pics__text__6 .logo--left {
        margin-right: 1rem; }
    .pics__text__7 {
      width: 10rem;
      height: 3rem;
      top: 80%;
      left: 32%;
      background-color: white; }
    .pics__text__translate {
      position: absolute;
      background-color: transparent;
      border: 0.1rem solid var(--color--primary--dark--1);
      border-radius: 0.5rem;
      z-index: -1;
      transform: translate(1rem, -0.5rem) skew(2deg, 4deg); }
      @media only screen and (max-width: 37.5em) {
        .pics__text__translate {
          transform: translate(1rem, -0.5rem) skew(2deg, 4deg) scaleX(0.7) scaleY(0.9); } }

.gallery--btn {
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  display: flex;
  width: 90%;
  flex-direction: row;
  border-top: 0.1rem solid var(--color--layout); }
  .gallery--btn > * {
    margin: 1.1rem 0.5rem; }
  .gallery--btn button {
    font-size: 1rem;
    padding: 0.5rem 1.5rem; }

.dollar {
  color: var(--color--primary--dark--2); }

.figure {
  position: relative;
  height: 40rem;
  width: 60rem; }
  @media only screen and (max-width: 56.25em) {
    .figure {
      transform: scale(1.1); } }
  @media only screen and (max-width: 21.5em) {
    .figure {
      transform: scale(1); } }
  @media only screen and (max-width: 37.5em) {
    .figure {
      margin-left: -3rem;
      width: 35rem;
      height: 30rem; } }

.caption {
  position: absolute;
  font-size: 4rem;
  color: white;
  top: 8%;
  left: 13%;
  transform: skew(2deg, 4deg); }

.form--pg {
  height: 60rem;
  width: 80%;
  position: fixed;
  z-index: 1500;
  color: #444;
  top: 0;
  left: 12rem;
  display: none; }
  @media only screen and (max-width: 68.75em) {
    .form--pg {
      height: 62rem;
      top: 3rem; } }
  @media only screen and (max-width: 56.25em) {
    .form--pg {
      width: 100%;
      height: 100%;
      left: 0;
      top: 0; } }

.form--pgmobile {
  display: flex; }

.toggle--input {
  position: relative;
  width: 70%;
  height: 100%;
  background-color: #f0ecec; }
  @media only screen and (max-width: 56.25em) {
    .toggle--input {
      width: 100%; } }

.toggle--form {
  position: relative;
  width: 50%;
  height: 100%;
  background-image: linear-gradient(#c4ddffbb, #c4ddff 100%), url(../img/pp1.jpg);
  background-size: contain;
  background-repeat: repeat;
  color: #444; }
  @media only screen and (max-width: 56.25em) {
    .toggle--form {
      display: none; } }

.login--signup--form {
  position: absolute;
  height: 100%;
  width: 100%; }
  .login--signup--form__dual {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80%;
    margin: auto;
    gap: 3rem;
    transform: translateY(-15%); }
    .login--signup--form__dual h1 {
      font-size: 4rem; }
    .login--signup--form__dual p {
      font-size: 1.6rem;
      color: #444;
      width: 60%;
      text-align: center; }
    .login--signup--form__dual .login {
      font-size: 2rem;
      width: 60%;
      padding: 1.5rem 3rem;
      text-align: center; }
  .login--signup--form__signup {
    display: none; }
  .login--signup--form__login {
    display: none; }

.login--signup--input {
  position: absolute;
  width: 100%; }
  .login--signup--input .logo--content {
    opacity: 0; }
    @media only screen and (max-width: 56.25em) {
      .login--signup--input .logo--content {
        opacity: 1; } }
  .login--signup--input__dual {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 0; }
    @media only screen and (max-width: 56.25em) {
      .login--signup--input__dual {
        gap: 2.5rem; } }
    .login--signup--input__dual h1 {
      font-size: 4rem; }
    .login--signup--input__dual p {
      font-size: 1.6rem; }
    .login--signup--input__dual .input--dual {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 80%; }
      .login--signup--input__dual .input--dual .dual--details {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center; }
        @media only screen and (max-width: 56.25em) {
          .login--signup--input__dual .input--dual .dual--details {
            gap: 1.7rem; } }
        .login--signup--input__dual .input--dual .dual--details > * {
          width: 80%;
          height: 4rem;
          border-radius: 10rem;
          padding-left: 1rem;
          font-size: 1.7rem;
          border: 1px solid rgba(0, 0, 0, 0.527); }
          @media only screen and (max-width: 56.25em) {
            .login--signup--input__dual .input--dual .dual--details > * {
              width: 60%; } }
          @media only screen and (max-width: 37.5em) {
            .login--signup--input__dual .input--dual .dual--details > * {
              width: 80%;
              font-size: 1.4rem; } }
          .login--signup--input__dual .input--dual .dual--details > *:focus {
            outline: none;
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.582); }
          .login--signup--input__dual .input--dual .dual--details > *:focus:invalid {
            box-shadow: 0 0.1rem 0.1rem #99c3ff; }
      .login--signup--input__dual .input--dual .checks {
        width: 80%;
        display: flex;
        flex-direction: row;
        margin: auto;
        gap: 1rem; }
        @media only screen and (max-width: 56.25em) {
          .login--signup--input__dual .input--dual .checks {
            width: 60%; } }
        @media only screen and (max-width: 37.5em) {
          .login--signup--input__dual .input--dual .checks {
            width: 80%; } }
      .login--signup--input__dual .input--dual .btn--form {
        width: 50%;
        margin: auto;
        padding: 1.3rem;
        text-align: center;
        font-size: 2rem; }
  .login--signup--input__login {
    display: none; }
  .login--signup--input__signup {
    display: none; }

.checks {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start; }

.toggle--nav {
  display: none; }
  @media only screen and (max-width: 37.5em) {
    .toggle--nav {
      display: block; } }

.toggle--check {
  display: none; }
  .toggle--check:checked + .toggle--check--box .toggle--check--box__button {
    background-color: transparent; }
  .toggle--check:checked + .toggle--check--box .toggle--check--box__button::before {
    top: 0;
    transform: rotate(135deg); }
  .toggle--check:checked + .toggle--check--box .toggle--check--box__button::after {
    top: 0;
    transform: rotate(-135deg); }
  .toggle--check:checked ~ .nav--mobile__bg {
    transform: scale(80); }
  .toggle--check:checked ~ .nav--mobile {
    opacity: 1;
    width: 100%; }
  .toggle--check--box {
    position: fixed;
    z-index: 10000;
    right: 3rem;
    top: 0;
    height: 7rem;
    width: 7rem;
    background-color: black;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    display: flex;
    justify-content: center;
    cursor: pointer; }
    .toggle--check--box__button {
      position: relative;
      margin-top: 3.5rem; }
      .toggle--check--box__button, .toggle--check--box__button::after, .toggle--check--box__button::before {
        width: 3.5rem;
        height: 0.4rem;
        border-radius: 1rem;
        background-color: white;
        display: inline-block; }
      .toggle--check--box__button::before, .toggle--check--box__button::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all 0.2s; }
      .toggle--check--box__button::before {
        top: -1rem; }
      .toggle--check--box__button::after {
        top: 1rem; }
    .toggle--check--box:hover .toggle--check--box__button::before {
      top: -1.15rem; }
    .toggle--check--box:hover .toggle--check--box__button::after {
      top: 1.15rem; }

.nav--mobile {
  height: 100vh;
  display: flex;
  right: 0;
  z-index: 1501;
  opacity: 0;
  width: 0;
  gap: 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .nav--mobile ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem; }
    .nav--mobile ul li a {
      text-decoration: none;
      font-size: 3.5rem; }
      .nav--mobile ul li a:hover {
        color: var(--color--primary--light); }
    .nav--mobile ul li:hover, .nav--mobile ul li:active {
      color: var(--color--primary--light);
      transform: translateX(0.5rem); }
  .nav--mobile .navs__login__mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 1rem; }
    .nav--mobile .navs__login__mobile .login {
      width: 90%;
      text-align: center;
      margin: auto;
      font-size: 3rem;
      border: 0.1rem solid var(--color--primary--light);
      border-radius: 10rem; }
      .nav--mobile .navs__login__mobile .login:hover,
      .nav--mobile .navs__login__mobile .login :active {
        background-color: var(--color--primary--light);
        border: 0.1rem solid black; }
    .nav--mobile .navs__login__mobile .btn {
      width: 90%;
      text-align: center;
      margin: auto;
      font-size: 3rem;
      border-radius: 10rem; }
      .nav--mobile .navs__login__mobile .btn:hover,
      .nav--mobile .navs__login__mobile .btn :active {
        background-color: var(--color--primary--light);
        color: black; }
  .nav--mobile__bg {
    position: fixed;
    height: 6.5rem;
    width: 6.5rem;
    right: 3rem;
    z-index: 1501;
    top: 0;
    background-image: radial-gradient(#ffbe00, #c4ddff);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.btn {
  border-radius: 4rem;
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
  color: white;
  background-color: black;
  border: none;
  text-decoration: none;
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .btn {
      width: 20rem;
      padding: 1rem 1.5rem; } }
  .btn:hover {
    background-color: var(--color--primary--dark--1);
    color: white;
    border: none; }
  .btn:focus {
    transform: translateX(0.1rem); }

.login {
  border-radius: 4rem;
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
  color: #444;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.562); }
  .login:hover, .login:active {
    background-color: var(--color--primary--dark--1);
    border: none;
    color: white; }

.btn--close-modal {
  border: none;
  font-size: 4rem;
  position: absolute;
  top: 1rem;
  right: 2.5rem;
  color: #444;
  background: none;
  cursor: pointer; }

.learn {
  margin-left: 4rem;
  height: 9rem;
  margin-top: 4rem; }

.learn--link {
  position: relative;
  padding: 2rem 4rem;
  top: 0;
  left: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  overflow: hidden;
  transition: 0.2s; }
  .learn--link::before {
    content: "";
    height: 130%;
    width: 130%;
    left: 0;
    top: 0;
    position: absolute;
    background-image: conic-gradient(var(--color--primary--dark) 20deg, transparent 120deg);
    box-shadow: 0 0.2rem 0.35rem black; }
  .learn--link::after {
    content: "Learn more";
    color: var(--color--primary--dark--lighter);
    position: absolute;
    width: 120%;
    height: 110%;
    left: 4%;
    top: 8%;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
    text-decoration: none;
    background-color: var(--color--primary--light);
    letter-spacing: 0.1rem;
    overflow: hidden;
    padding-top: 2.5rem; }
  .learn--link:hover ::after {
    height: 130%;
    width: 130%; }

.testimonial--heading {
  width: 70%;
  margin: auto; }
  .testimonial--heading h1 {
    font-size: 1.8rem;
    margin: 4rem 0 2rem 0; }
  .testimonial--heading h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: black; }
  .testimonial--heading p {
    font-size: 3rem; }

.test {
  width: 100%; }

.testimonial {
  display: flex;
  overflow: hidden;
  gap: 2rem; }
  .testimonial--section--slider {
    display: flex;
    width: 37rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 5rem;
    padding: 3rem 2rem;
    gap: 10rem; }
    @media only screen and (max-width: 21.5em) {
      .testimonial--section--slider {
        width: 25rem; } }
    .testimonial--section--slider blockquote {
      font-size: 1.7rem;
      position: relative;
      padding-top: 10rem; }
      .testimonial--section--slider blockquote::before {
        content: "\201C";
        position: absolute;
        top: -2rem;
        font-size: 10rem; }
    .testimonial--section--slider address h6 {
      font-size: 1.5rem; }
    .testimonial--section--slider address p {
      font-size: 1.2rem; }
  .testimonial--section--slider__1 {
    background-color: #c4ddff;
    border-top-right-radius: 10rem;
    align-items: flex-end; }
  .testimonial--section--slider__2 {
    background-color: #f0a500;
    color: black;
    border-bottom-right-radius: 10rem;
    align-items: flex-start; }
  .testimonial--section--slider__3 {
    background-color: #c4ddff;
    border-top-right-radius: 10rem;
    align-items: flex-end; }
  .testimonial--section--slider__4 {
    background-color: #f0a500;
    color: black;
    border-bottom-right-radius: 10rem;
    align-items: flex-start; }
  .testimonial--section--slider__5 {
    background-color: #f0a500;
    color: black;
    border-bottom-right-radius: 10rem;
    align-items: flex-start; }

.about--section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  background-image: conic-gradient(var(--color--primary--light) 20deg, transparent);
  background-color: #f3f3f3;
  align-items: center;
  padding-top: 6rem;
  color: #444; }

.about {
  display: grid;
  justify-items: left;
  margin: 1rem 4rem;
  align-content: center; }
  .about h3 {
    font-size: 2rem; }
  .about article {
    font-size: 1.5rem; }
  .about__service {
    font-size: 1rem;
    text-transform: uppercase; }
  .about__do {
    font-size: 3rem;
    text-transform: uppercase; }

.read--more {
  font-size: 2rem; }
  .read--more a {
    text-decoration: none;
    color: black; }

.sponsored {
  display: flex;
  padding: 3rem 0;
  align-items: center;
  justify-content: space-between;
  background-color: #f3f3f3; }
  @media only screen and (max-width: 37.5em) {
    .sponsored {
      flex-direction: column;
      padding: 1rem; } }
  .sponsored__text {
    padding: 3rem; }
    .sponsored__text h3 {
      font-size: 2.5rem; }
    .sponsored__text p {
      font-size: 1.5rem; }
  .sponsored--heading {
    margin-top: 5rem;
    display: flex;
    background-color: #f3f3f3; }
    @media only screen and (max-width: 37.5em) {
      .sponsored--heading {
        gap: 2rem; }
        .sponsored--heading__1 {
          flex-direction: column; }
        .sponsored--heading__2 {
          flex-direction: column-reverse; } }
    .sponsored--heading__text {
      display: flex;
      flex-direction: column;
      width: 40%;
      justify-content: center;
      gap: 3rem;
      align-items: center;
      padding-left: 3rem;
      color: #444; }
      @media only screen and (max-width: 37.5em) {
        .sponsored--heading__text {
          width: 100%; } }
      .sponsored--heading__text h1 {
        font-size: 3rem; }
      .sponsored--heading__text p {
        font-size: 2rem; }
    .sponsored--heading__image {
      width: 70%; }
    .sponsored--heading__imagecon {
      width: 60%;
      display: flex;
      justify-content: center; }
      @media only screen and (max-width: 37.5em) {
        .sponsored--heading__imagecon {
          width: 100%; } }

.featured {
  display: flex;
  gap: 2rem;
  padding: 0 2rem; }
  @media only screen and (max-width: 37.5em) {
    .featured {
      padding: 1rem; } }

.featured--img {
  width: 10rem;
  height: 8rem; }
  @media only screen and (max-width: 37.5em) {
    .featured--img {
      width: 7rem;
      height: 6rem; } }

.stack--section {
  background-color: rgba(255, 255, 255, 0.507);
  padding: 5rem 4rem;
  margin-top: 2rem; }

.stack--heading {
  text-align: center;
  padding: 0 15rem; }
  .stack--heading h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem; }
  .stack--heading p {
    font-size: 1.5rem;
    line-height: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .stack--heading {
      padding: 0; } }

.stack--overview {
  margin-top: 3rem;
  display: flex; }
  @media only screen and (max-width: 37.5em) {
    .stack--overview {
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

.stack--overview--content {
  width: 90%;
  display: flex; }
  .stack--overview--content h3 {
    font-size: 1.7rem; }
  .stack--overview--content p {
    font-size: 1.3rem; }
  .stack--overview--content__text {
    margin-left: 1rem; }

main {
  position: relative; }

.second--section {
  background-color: var(--color--primary--light);
  padding-bottom: 4rem; }
  .second--section h1 {
    font-size: 1.8rem;
    margin: 4rem 0 2rem 0; }

.leap {
  display: flex;
  flex-direction: column;
  gap: 3rem; }
  .leap h1 {
    font-size: 3rem;
    width: 30%;
    text-align: center; }
    @media only screen and (max-width: 43.75em) {
      .leap h1 {
        width: 90%; } }
  .leap p {
    font-size: 1.4rem;
    margin-bottom: 0.5rem; }
  .leap__context {
    display: flex;
    gap: 5rem; }
    @media only screen and (max-width: 37.5em) {
      .leap__context {
        flex-direction: column;
        align-items: center;
        justify-content: center; } }
  .leap__text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center; }
    .leap__text input[type="range"] {
      width: 40rem; }
      @media only screen and (max-width: 37.5em) {
        .leap__text input[type="range"] {
          width: 30rem; } }

.leap--savings {
  position: relative;
  margin-left: 2rem; }
  .leap--savings__container {
    position: relative;
    background-color: var(--color--primary--light);
    width: 45rem;
    height: 30rem;
    border: 0.1rem solid black;
    border-radius: 1rem; }
    @media only screen and (max-width: 43.75em) {
      .leap--savings__container {
        width: 40rem; } }
    @media only screen and (max-width: 37.5em) {
      .leap--savings__container {
        width: 37rem; } }
    @media only screen and (max-width: 21.5em) {
      .leap--savings__container {
        width: 30rem; } }
    .leap--savings__container__translate {
      width: 45rem;
      height: 30rem;
      position: absolute;
      border: 0.1rem solid black;
      border-radius: 1rem;
      transform: translate(0.7rem, 0.7rem);
      background-color: white; }
      @media only screen and (max-width: 43.75em) {
        .leap--savings__container__translate {
          width: 40rem; } }
      @media only screen and (max-width: 37.5em) {
        .leap--savings__container__translate {
          width: 37rem; } }
      @media only screen and (max-width: 21.5em) {
        .leap--savings__container__translate {
          width: 30rem; } }
  .leap--savings__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(30rem / 3);
    border-bottom: 0.1rem solid black;
    gap: 0.5rem; }
    .leap--savings__box:last-child {
      border-bottom: none; }
    .leap--savings__box h3 {
      font-size: 2rem;
      color: black; }
    .leap--savings__box .small--h3 {
      font-size: 1.6rem; }
    .leap--savings__box p {
      font-size: 1.2rem; }
    .leap--savings__box__1 {
      background-color: white;
      overflow: hidden;
      border-top-right-radius: 1rem;
      border-top-left-radius: 1rem;
      text-align: center; }
    .leap--savings__box__2 {
      background-color: var(--color--secondary--light--2); }

.leap--words {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  margin-right: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .leap--words {
      margin-left: 2rem; } }
  .leap--words h3 {
    font-size: 1.5rem;
    color: black; }
  .leap--words hr {
    border: none;
    border-bottom: 0.1rem solid #444; }

.leap--div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem; }

.main--header {
  display: flex;
  gap: 1rem;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .main--header {
      flex-direction: column;
      gap: 3rem; } }
  .main--header:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 65%;
    bottom: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 700% 1000%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: var(--color--secondary--light--2);
    z-index: 1; }
    @media only screen and (max-width: 56.25em) {
      .main--header:before {
        height: 65%;
        width: 55%; } }

header {
  background-color: var(--color--primary--light);
  position: relative;
  z-index: 100;
  border-bottom: 0.1rem solid var(--color--primary--dark--1); }

.navs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  z-index: 1000; }
  .navs__list {
    display: flex;
    font-size: 1.5rem;
    justify-content: space-between;
    width: 20rem; }
    @media only screen and (max-width: 37.5em) {
      .navs__list {
        display: none; } }
  .navs__items {
    list-style: none; }
  .navs__link {
    text-decoration: none;
    color: black; }
    .navs__link:hover {
      color: var(--color--primary--dark--1); }
  .navs__login {
    margin: 1rem; }
    @media only screen and (max-width: 37.5em) {
      .navs__login {
        display: none; } }

.logo {
  display: flex;
  font-size: 2rem;
  margin: 1rem 1rem;
  color: var(--color--primary--dark--1);
  align-items: center;
  font-family: "Tangerine", cursive;
  font-style: italic; }

.icon--logo {
  font-size: 3rem;
  color: var(--color--primary--dark--1); }

footer {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  margin-top: 5rem; }

.footer--subscribe {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4rem 3rem;
  gap: 5rem;
  justify-content: space-between;
  background-color: var(--color--secondary--light--4);
  border-radius: 4rem;
  z-index: 1; }
  @media only screen and (max-width: 37.5em) {
    .footer--subscribe {
      display: inline-block;
      flex-direction: column;
      gap: 1rem; } }

.subscribe1 {
  display: flex; }
  .subscribe1__text {
    font-size: 1.5rem;
    width: 40%;
    margin-left: 4rem; }
    @media only screen and (max-width: 37.5em) {
      .subscribe1__text {
        width: 60%;
        margin-left: 1rem;
        margin-bottom: 1rem; } }
  .subscribe1__footer {
    flex-direction: column;
    width: 60%; }
    @media only screen and (max-width: 37.5em) {
      .subscribe1__footer {
        width: 100%; } }
  .subscribe1__email {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem; }

.btn--footer {
  padding: 1rem 1rem;
  width: 14rem;
  margin-bottom: 0.4rem; }

.block {
  display: block; }
  @media only screen and (max-width: 37.5em) {
    .block {
      display: inline; } }

.footer--contact {
  display: flex;
  flex-direction: column;
  padding: 7rem 3rem;
  margin-top: -3rem;
  background-color: var(--color--primary--dark--1);
  color: white; }

.social__text {
  display: flex;
  gap: 1rem; }
  .social__text__title {
    width: 100%; }
    .social__text__title h3 {
      font-size: 2rem; }
    .social__text__title a {
      display: block; }

.social__icon {
  display: flex; }

.logo__footer {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-column-gap: 1.5rem;
  align-items: center; }
  .logo__footer::before, .logo__footer::after {
    content: "";
    height: 1px;
    display: block;
    background-color: whitesmoke;
    width: 100%; }

.logo__text {
  color: white; }

.navs__link__footer {
  color: white; }

.icon-ecommerce-diamond {
  color: white; }

.icon {
  color: black;
  width: 6rem;
  margin-bottom: 0.5rem; }
  @media only screen and (max-width: 37.5em) {
    .icon {
      position: relative;
      top: -0.7rem; } }

.logo {
  width: 7rem;
  height: 7rem; }

.subscribe--2 {
  display: none; }
  @media only screen and (max-width: 56.25em) {
    .subscribe--2 {
      display: flex;
      flex-direction: column;
      z-index: 10000;
      margin-bottom: 3rem;
      padding-left: 3rem;
      align-items: center;
      gap: 0.5rem; } }

@media only screen and (max-width: 56.25em) {
  .subscribe--1 {
    display: none; } }

@media only screen and (max-width: 68.75em) {
  .subscribe2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem; } }

.social--icons {
  display: flex;
  gap: 2rem; }

.icons {
  width: 3rem;
  height: 3rem; }
  .icons:hover {
    fill: var(--color--primary--light); }

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  backdrop-filter: blur(4px);
  z-index: 1051;
  transition: all 0.3s; }

.hidden {
  visibility: hidden;
  opacity: 0; }

.square--icon {
  width: 1.2rem; }

.logo--left {
  padding: 0.3rem;
  background-color: var(--color--secondary--dark--2);
  width: 6rem;
  height: 4rem;
  position: relative;
  color: #444; }
  .logo--left h5 {
    font-size: 3.5rem;
    position: absolute;
    left: 0.5rem;
    top: 0rem; }

.arrow--img {
  width: 3.5rem;
  height: 3.5rem;
  color: var(--color--secondary--light--2); }

.dots {
  position: absolute;
  display: flex;
  background-color: red; }

section {
  transform: none;
  transition: all 1s; }

.section--hidden {
  opacity: 0;
  transform: translateY(8rem); }

.section--left {
  opacity: 0;
  transform: translateX(8rem); }

.section--right {
  opacity: 0;
  transform: translateX(-8rem); }

.sticky {
  position: absolute;
  position: fixed;
  background-color: #f3f3f3;
  top: 0;
  width: 96.8%; }
