@mixin h1Tag {
  h1 {
    font-size: 1.8rem;
    margin: 4rem 0 2rem 0;
  }
}

@mixin whitespace {
  margin-top: 5rem;
}

@mixin heading {
  h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
  p {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@mixin respond($breakpoint) {
  @if $breakpoint==phone3 {
    @media only screen and (max-width: 21.5em) {
      @content;
    }
  }

  @if $breakpoint==phone2 {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint==phone1 {
    @media only screen and (max-width: 43.75em) {
      @content;
    }
  }
  @if $breakpoint==tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint==tab-land2 {
    @media only screen and (max-width: 62.5em) {
      @content;
    }
  }
  @if $breakpoint==tab-land1 {
    @media only screen and (max-width: 68.75em) {
      @content;
    }
  }
  @if $breakpoint==big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}
